Zadanie 1 (5 pkt)


Wgraj zawartość pliku orders.csv do ramki danych.
Przyjrzyj się danym, wykorzystując poznane metody (describe, info, head) zanalizuj dane.

Następnie:



1. Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;
2. Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;
3. Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;
4. Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.
5. Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

In [19]:
import pandas as pd
import numpy as np
import datetime as dt
import csv

df=pd.read_csv('orders.csv', sep=",")

# zad 1
df['order_date']=pd.to_datetime(df['order_date'], format="%Y-%m-%d")
df

# zad 2
print(df['tshirt_category'].value_counts())
print('liczba unikatow = ', len(list(df['tshirt_category'].value_counts())), '\n')

def app(x):
  x = x.split(' ')
  y = len(x)
  z = ''
  for i in range(0, y):
    if x[i]=='Wh':
      x[i]='White'
    if x[i]=='Bl':
      x[i]='Black'
    if x[i]=='Tshirt':
      x[i]='T-Shirt'
    if x[i]=='Tennis':
      x[i]='Tennis-shirt'
    if x[i]=='Shirt':
      x[i] = ''
    z = z + x[i] + ' '
  return z 

# zad 3
df['tshirt_category']=df['tshirt_category'].apply(app)
df

# zad 4
def fapp(x):
  typ = ['T-Shirt', 'Hoodie', 'Tennis-shirt'] 
  kolor = ['White', 'Black']
  rozmiar = ['M', 'F']
  x = x.split(' ')
  y = len(x)
  if any((match:=item) in typ for item in x):
      A=match
  else:
      A=('-')
  if any((match:=item) in rozmiar for item in x):
      B=match
  else:
      B=('-')
  if any((match:=item) in kolor for item in x):
      C=match
  else:
      C=('-') 
  D=A+' '+B+' '+C
  return D

df[['tshirt_Type','tshirt_size','tshirt_colour']] = df['tshirt_category'].apply(fapp).str.split(' ',expand = True)
df.drop('tshirt_category', axis = 1, inplace = True)
df

# zad 5
df2=df.loc[df["order_date"].between('2014-12-31', '2016-08-02')]
df2

Hoodie             6229
White T-Shirt M    5547
Black T-Shirt M    4454
White T-Shirt F    3513
Black T-Shirt F    3248
Tennis Shirt       2153
Wh Tshirt M         462
Bl Tshirt M         377
Wh Tshirt F         312
Bl Tshirt F         257
Name: tshirt_category, dtype: int64
liczba unikatow =  10

,order_date,pages_visited,order_id,customer_id,tshirt_price,tshirt_quantity,tshirt_Type,tshirt_size,tshirt_colour
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,20.0,1,T-Shirt,M,White
5,2016-01-15,9,HTS-061311-0003,061311,17.5,4,T-Shirt,F,Black
12,2015-11-24,15,HTS-je57lh-0001,je57lh,23.0,3,Hoodie,-,-
13,2015-10-10,8,HTS-252675-0002,252675,20.0,3,T-Shirt,M,White
15,2015-11-29,15,HTS-heb26i-0001,heb26i,17.5,1,T-Shirt,F,Black
...,...,...,...,...,...,...,...,...,...
26496,2016-06-02,2,HTS-5b4bg6-0001,5b4bg6,17.5,1,T-Shirt,F,Black
26513,2016-07-05,12,HTS-bt08zd-0001,bt08zd,18.0,1,T-Shirt,F,White
26515,2016-07-27,17,HTS-gsc3f6-0001,gsc3f6,23.0,1,Hoodie,-,-
26540,2016-06-08,7,HTS-6ba0i0-0001,6ba0i0,20.0,4,T-Shirt,M,White
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,20.0,1,T-Shirt,M,White

Zadanie 2 (4 pkt)


Wgraj plik customers.csv do ramki danych. 

Następnie:
1. Wypisz kolumny;
2. Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;
3. Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;
4. Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

In [31]:
import pandas as pd
import numpy as np
import csv

ramka=pd.read_csv('customers.csv', sep=',')

# # zad 1
# ramka.columns

# # zad 2
# ramka.shape
# df.shape
# print('wymiary ramki 1: ', df.shape, ', wymiary ramki 2: ', ramka.shape)

# # zad 3
# ramka.rename(columns={'customerID':'customer_id'}, inplace = True)
# ramka

# zad 4
all=pd.concat([df, ramka])
all

c:\Users\dorot\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\lib\pretty.py:778: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  output = repr(obj)
c:\Users\dorot\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\formatters.py:342: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  return method()

,order_date,pages_visited,order_id,customer_id,tshirt_price,tshirt_quantity,tshirt_Type,tshirt_size,tshirt_colour,customerID,gender,birthdate,user_agent,ip_address,campaign
0,2016-09-04,9.0,HTS-038040-0002,038040,20.0,1.0,T-Shirt,M,White,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-11-14,11.0,HTS-801797-0001,801797,20.0,1.0,T-Shirt,M,White,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-02-26,10.0,HTS-vft1eu-0003,vft1eu,18.0,3.0,T-Shirt,F,White,NaN,NaN,NaN,NaN,NaN,NaN
3,2013-12-01,10.0,HTS-914324-0001,914324,18.0,1.0,T-Shirt,F,White,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-10-22,12.0,HTS-88ua9r-0001,88ua9r,20.0,1.0,T-Shirt,M,White,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18761,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,m1yyx6,M,1999/8/19,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,95.142.4.155,True
18762,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,744375,F,1941/10/22,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,119.219.176.225,False
18763,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t6pxeo,F,1950/5/10,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,196.178.254.85,False
18764,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,930049,F,1979/10/22,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,118.173.208.45,False
18765,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,950728,M,1997/9/18,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,171.178.68.155,False

Zadanie 3 (1 pkt)

Nową ramkę (połączenie orders i customers) zapisz do pliku csv, ale zapisz bez kolumny z indeksem.

In [32]:
all.to_csv('output.csv', encoding = 'utf-8-sig', index=False)